$color-error: #ef5a5a;
$color-text-error: #c71616;
$color-text-sub: #666;
$color-button-bg: #e5ffcc;
$color-button-bg-hover: #d0ffa4;
$color-button-bg-disabled: #b9cfa4;
$color-note-bg: #f5ffa4;
$gap-form: 1.2rem;
$gap-form-field: 0.2rem;
$gap-page: 1.4rem;
$size-border-radius: 0.4rem;
$gap-inner-button: 0.8em;
$gap-inner-input: 0.4em;

.widget_toast-- {
  &toast {
    position: absolute;
    z-index: var(--zindex);
    right: 0;
    top: 0;

    &_item {
      transition: opacity var(--disappearing-duration) ease-out 0s;
      opacity: 1;
      padding: 0.5em;
      margin: 1em;

      &[aria-hidden="true"] {
        opacity: 0;
      }

      &-error {
        background-color: #faa;
      }
      &-warning {
        background-color: #ffa;
      }

      &_body {
        padding: 0.5em;
        display: inline-block;
      }

      &_close {
        padding: 0.5em;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}

.widget_header-- {
  &header {
    background-color: #33ffcc;
    padding: 1em;
    &_logo {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}

.page_notFound-- {
  &mainMessage {
    margin: $gap-page;
    font-size: 1.2em;
  }

  &homeLink {
    display: block;
    margin: $gap-page;
  }
}

.page_login-- {
  &page {
    padding: $gap-page;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }

  &loginForm {
    flex-grow: 1;
    flex-basis: 50em;
    display: flex;
    flex-direction: column;
    gap: $gap-form;
    padding: $gap-form;
    max-width: 30em;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

    &_title {
      text-align: center;
      font-size: 1.25em;
      font-weight: bold;
    }

    &_id {
      display: flex;
      flex-direction: column;
      gap: $gap-form-field;
      $field: &;

      &_label {
        font-weight: bold;
      }

      &_input {
        flex-grow: 1;
        font-size: 1.1em;
        border-radius: $size-border-radius;
        border: solid 2px currentcolor;
        padding: $gap-inner-input;
      }

      &[aria-invalid="true"] > #{$field}_input {
        border: solid 2px $color-text-error;
      }
    }

    &_password {
      display: flex;
      flex-direction: column;
      gap: $gap-form-field;
      $field: &;

      &_label {
        font-weight: bold;
      }

      &_input {
        flex-grow: 1;
        font-size: 1.1em;
        border-radius: $size-border-radius;
        border: solid 2px currentcolor;
        padding: $gap-inner-input;
      }

      &[aria-invalid="true"] > #{$field}_input {
        border: solid 2px $color-text-error;
      }
    }

    &_loginButton {
      align-self: center;
      padding: $gap-inner-button;
      min-width: 8em;
      text-align: center;
      border-radius: $size-border-radius;
      border: solid 2px currentcolor;
      cursor: pointer;
      background-color: $color-button-bg;

      &:hover {
        background-color: $color-button-bg-hover;
      }

      &:disabled,
      &[aria-busy="true"] {
        background-color: $color-button-bg-disabled;
        border-color: transparent;
        cursor: default;
      }
    }

    &_errorField {
      display: flex;
      flex-direction: column;
      gap: $gap-form-field;
      &_error {
        color: $color-error;
      }
    }

    &_notes {
      position: absolute;
      top: $gap-page;
      right: $gap-page;
      display: flex;
      flex-direction: column;
      gap: $gap-form-field;
      background-color: $color-note-bg;
      align-self: flex-end;
      padding: $gap-form;
      box-shadow: 0 0.6em 0.6em -0.5em rgba(0, 0, 0, 0.3);

      &_head {
        font-size: 0.9em;
        color: $color-text-sub;
        text-align: center;
      }
    }
  }
}

.page_home-- {
  &page {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }

  &header {
    align-self: stretch;
  }

  &top {
    align-self: stretch;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }

  &body {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: $gap-page;
    gap: $gap-page;
    margin: 0;
    overflow-y: auto;
  }

  &clock {
    align-self: flex-end;
  }

  &greetingArea {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: $gap-page;

    &_greeting {
      flex-grow: 1;
      &_text {
        vertical-align: baseline;
      }

      &_name {
        font-size: 1.1em;
      }
    }
    &_luckyHay {
      &_text {
        font-size: 0.9em;
      }

      &_value {
        font-size: 1.1em;
        color: #33ccaa;
      }
    }
  }

  &editAccountForm {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    &_id {
      max-width: 34em;
      &_label {
        font-size: 0.8em;
      }

      &_input {
        min-height: 2em;
        width: 100%;

        &[aria-invalid="true"] {
          border-color: $color-error;
        }
      }
    }

    &_errorField {
      &_error {
        color: $color-text-error;
        font-size: 0.8em;
      }
    }

    &_saveButton {
      min-height: 2em;
      width: 100%;
      max-width: 34em;
      text-align: center;
      background-color: #33ffcc;
      cursor: pointer;

      &[aria-busy="true"],
      &[aria-disabled="true"] {
        background-color: #336666;
        color: #fff;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &dashboard_links {
    align-self: end;

    &_linkButton-chat {
      font-size: 1.1em;
    }
  }
}

.page_chat-- {
  &page {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }

  &header {
    align-self: stretch;
  }

  &body {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $gap-page;
    gap: $gap-page;
    margin: 0;
    overflow-y: auto;
  }

  &footer {
    align-self: stretch;
    padding: $gap-page;
  }

  &activeUsers {
    max-width: 10em;
    border: solid 2px #33ccaa;

    &_header {
      background-color: #33ccaa;
      color: #fff;
      padding: 0.4em;
      text-align: center;
      font-size: 1.1em;
      font-weight: bold;
    }
    &_body {
      &_item {
        color: var(--active-user-color);
      }
    }
  }
  &messageField {
    flex-grow: 1;
    &_body {
      height: 100%;
      overflow-y: auto;

      &_item_user {
        color: var(--active-user-color);
      }
    }
  }
  &newMessageForm {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    &_control_body {
      min-height: 6em;
      width: 100%;

      &[aria-invalid="true"] {
        border-color: $color-error;
      }
    }

    &_errorField {
      align-self: flex-end;
      &_error {
        color: $color-text-error;
        font-size: 0.8em;
      }
    }

    &_control_submit {
      align-self: flex-end;
      min-height: 2em;
      width: 100%;
      max-width: 12em;
      text-align: center;
      background-color: #33ffcc;
      cursor: pointer;

      &[aria-busy="true"],
      &[aria-disabled="true"] {
        background-color: #336666;
        color: #fff;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
